.main {
    width: 100%;
    overflow: hidden;
}

.absolute-cinema {
    font-size: 4rem;
    font-weight: 800;
    color: yellow;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    display: flex;
    justify-content: center;
}

.sub-absolute-cinema {
    color: white;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
}

.wrapper a {
    text-decoration: none;
}

.wrapper li {
    list-style: none;
}

.sidebar {
    height: 100vh;
    width: 10rem;
    min-width: 10rem;
    z-index: 1000;
    background: yellow;
    display: flex;
    flex-direction: column;
    transition: 0.25s ease-in-out;
    position: fixed;
}

.sidebar .expand {
    width: 16rem;
    min-width: 16rem;
}

.sidebar .toggle-btn {
    background: transparent;
    padding: 1rem 1rem;
    border: 0;
    cursor: pointer;
}

.toggle-btn i {
    font-size: 8rem;
    color: black;
}

.sidebar-nav {
    height: 10rem;
    padding: 1rem 0;
    flex: 1 1 auto;
}

.sidebar-item {
    position: relative;
}

.sidebar-nav > .sidebar-item {
    margin-bottom: 1rem;
}

.sidebar .sidebar-link {
    display: block;
    padding: 1rem 3rem;
    color: black;
    font-size: 1.5rem;
    border-left: 0.2rem solid transparent;
}

.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.075);
    border-left: 0.2rem solid #4070f4;
}

.sidebar-link i {
    font-size: 3rem;
    margin-right: 1rem;
}

.sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 10rem;
    background: yellow;
    padding-left: 0;
    min-width: 20rem;
    display: none;
}

.sidebar:not(.expand) .sidebar-item .drop-two {
    top: 100%;
    left: 0;
}

.sidebar:not(.expand) .sidebar-item:hover > .sidebar-dropdown {
    display: block;
    max-height: 16rem;
    width: 100%;
    opacity: 1;
}

.sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    position: absolute;
    content: "";
    display: inline-block;
    border: solid;
    border-width: 0 0.05rem 0.05rem 0;
    padding: 0.125rem;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
}

.sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
}

.sidebar .sidebar-footer {
    margin-bottom: 2rem;
}

.blank{
    height: 3.2rem;
    background: transparent;
}

.register_background{
    min-height: 550px;
    background-color: lightgray;
    padding: 23px;
    border-radius: 24px;
}

.bordas{
     border: #000000 solid;
}

.title-form{
    text-shadow:
            -0px -3px 2px black,
            3px -0px 2px black,
            -0px 3px 2px black,
            -3px 0px 2px black;
    font-size: 3rem;
    color: yellow;
}

.sub-title-form{
    font-size: 1rem;
}

.featured {
    width: 110%;
    height: 30rem;
    background-color: lightgray;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 400px;
    border: 10px solid black;
}

.caixa-capas {
    padding-left: 12rem;
}

.featured p {
    font-size: 1.9rem;
    color: yellow;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
}

/*modo noturno*/
body {
    background-color: var(--background-color);
    color: var(--text-color);
}


.container {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.25rem;
}

.button {
    padding: 0.625rem 1.25rem;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}

:root {
    --text-color-light: #000000;
    --button-color-light: #007bff;

    --text-color-dark: #ffffff;
    --button-color-dark: #6c757d;
}

body {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --button-color: var(--button-color-light);
}

body.dark-mode {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --button-color: var(--button-color-dark);
}

.lista-capas{
    padding: 20px;
}

h1{
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: yellow;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
}

.categoria {
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#movies-list img{
    border: 5px solid black;
    border-radius: 10px;
}

#series-list img{
    border: 5px solid black;
    border-radius: 10px;
}

.capa-review {
    border: 5px solid black;
    border-radius: 10px;
    margin-right: 100px;
}

.imagens-review {
    display: flex;
}

.estatisticas {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.estatisticas-box {
    width: 200px;
    height: 120px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: grey;
    margin: 20px;
    text-align: center;
}

.botao {
    color: black;
    font-weight: 800;
    background-color: yellow;
    padding: 10px 20px;
    border: 5px solid black;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
  }