.profile-box {
    width: 50%;
    height: 65rem;
    background-color: lightgray;
    margin: 0 auto;
    border: 5px solid black;
    justify-content: center;
    flex-direction: column;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: left;
}

.profile-header img {
    border-radius: 50%; /* Torna a imagem arredondada */
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.profile-header button {
    margin-left: 20px; /* Espaço entre os botões */
}

#avatar-frame {
    display: flex;
    align-items: center;
}

.profile-header p {
    color: yellow;
}

